@import "custom";
@import "~bootstrap/scss/bootstrap";

.page-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: ($spacer * .5);
}

.logo {
    width: 122px;
    height: 40px;
    background: url(/assets/refined-storage/logo.png);

    a {
        width: 122px;
        height: 40px;
        display: block;
    }
}

img.wiki-icon {
    width: 32px;
    height: 32px;
    margin-top: -5px;
}

img.wiki-tooltip-icon {
    width: 32px;
    heigth: 32px;
}

.creeperhost-logo {
    background: url(/assets/creeperhost-logo.png);
    width: 128px;
    height: 32px;
    margin-top: -4px;
    margin-left: 5px;

    a {
        display: block;
        width: 128px;
        height: 32px;
    }
}

.main-nav {
    font-size: 0.8rem;
}

main {
    background: #fff;
}
